body {
  margin: 0px;
  background-color: #070707;
  color: #707070;
  font-family: "Courier New";
  font-size: 16px;
  background-image: url('/resources/assets/images/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main {
  margin: 16px;
}

#app {
  margin: 0 auto;
  width: 720px;
}

#head {
  margin: 8px auto;
}

#body {
  margin: 16px auto;
}

#foot {
  margin: 8px auto;
  text-align: center;
  font-size: 12px;
}

img.square {
  width:  240px;
}

a {
  text-decoration: none;
}

.right {
  margin-left: 24px;
  float: right;
}

.emptyrows {
  padding: 96px;
}

.doc {
  padding: 96px;
  color: #070707;
  background-color: #F7F7F7;
}

.liminal {
  max-width: 360px;
  padding: 96px;
  color: #707070;
  background-color: #0b0840;
}
